@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

header
	border-bottom: 3px solid rgba(0,0,0,0.7)
	.mass_actions, input
		float: right

footer
	border-top: 3px solid rgba(0,0,0,0.7)

.content
	.product_info
		margin: 5px
		padding: 5px
		border: 1px solid black
		ul
			list-style: none
			margin: 0
			padding: 0
			.field
				text-align: center
	.product_selected
		position: absolute
		top: 0
		width: 100%
		height: 100%
		opacity: 0
		&:checked
			~.product_info
				border: 1px solid red		


.add_new
	

@import "media" // Всегда в конце
